body {
  background: url("img/bg4b.jpg");
  font-family: calibri;
  font-size: 16px;
  color: black;
}
.ora {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
}
.ora:hover {
  background-color: #800;
}
