#editor1,
.cke_editor_editor1 {
  width: 50%;
}
body.linear .linear {
  display: none;
}
body.linear .overlapping {
  display: block;
}
body.linear div.notes .note {
  position: static;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 4px;
  width: auto !important;
  height: auto !important;
  float: none;
}
body.linear div.notes .note .title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
body.linear div.notes .note .title .text {
  float: left;
}
body.linear div.notes .note .title .checkbox {
  float: left;
}
body.linear div.notes .note .body {
  font-size: 18px;
  color: #000040;
  padding: 5px;
  box-sizing: content-box;
  line-height: 90%;
}
body.linear div.notes .note .body a {
  color: #000030;
}
body.linear div.notes .note .body a:visited {
  color: #000030;
}
body.linear div.notes .note .body:hover {
  overflow: auto;
}
body.linear div.notes .note .category-label {
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px 4px;
}
div.notes {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
div.notes .note {
  overflow: hidden;
  position: absolute;
  float: none;
  pointer-events: visible;
  color: #000;
  background: #efc;
  display: block;
  box-shadow: 2px 2px 3px rgba(192, 192, 192, 0.6);
  transition: transform .5s linear;
  z-index: 10;
  font-size: 12px;
}
div.notes .note.on-top {
  border-width: 3px;
}
div.notes .note.ui-draggable-dragging {
  z-index: 200;
}
div.notes .note.zoomed {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
}
div.notes .note.minimized {
  position: static;
  height: 20px !important;
  width: 200px !important;
  margin: 2px;
  float: left;
}
div.notes .note.filter-excluded {
  display: none;
}
div.notes .note.cat-filtered {
  display: none;
}
div.notes .note.cat-filtered.filter-selected {
  display: block;
}
div.notes .note.not-editing {
  display: none;
}
div.notes .note .title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  padding: 2px;
  letter-spacing: 1.2px;
  border-bottom: 1px solid #a0a0a0;
  padding: 0 6px;
  color: #ffffff;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
div.notes .note .title .text {
  float: left;
}
div.notes .note .title .checkbox {
  float: left;
  position: relative;
  top: 4px;
  margin-right: 8px;
}
div.notes .note .body {
  font-size: 18px;
  color: #000040;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  box-sizing: content-box;
  line-height: 90%;
}
div.notes .note .body a {
  color: #000060;
}
div.notes .note .body a:visited {
  color: #000060;
}
div.notes .note .body:hover {
  overflow: auto;
}
div.notes .note.col0 {
  border: 1px solid #d19494;
  background-color: #fefdfd;
}
div.notes .note.col0 .title {
  background-color: #c27070;
  border-bottom: 1px solid #e6b3b3;
}
div.notes .note.col1 {
  border: 1px solid #d1b394;
  background-color: #fefefd;
}
div.notes .note.col1 .title {
  background-color: #c29970;
  border-bottom: 1px solid #e6ccb3;
}
div.notes .note.col2 {
  border: 1px solid #d1d194;
  background-color: #fefefd;
}
div.notes .note.col2 .title {
  background-color: #c2c270;
  border-bottom: 1px solid #e5e6b3;
}
div.notes .note.col3 {
  border: 1px solid #b3d194;
  background-color: #fefefd;
}
div.notes .note.col3 .title {
  background-color: #99c270;
  border-bottom: 1px solid #cce6b3;
}
div.notes .note.col4 {
  border: 1px solid #94d194;
  background-color: #fdfefd;
}
div.notes .note.col4 .title {
  background-color: #70c270;
  border-bottom: 1px solid #b3e6b3;
}
div.notes .note.col5 {
  border: 1px solid #94d1b3;
  background-color: #fdfefe;
}
div.notes .note.col5 .title {
  background-color: #70c299;
  border-bottom: 1px solid #b3e6cc;
}
div.notes .note.col6 {
  border: 1px solid #94d1d1;
  background-color: #fdfefe;
}
div.notes .note.col6 .title {
  background-color: #70c2c2;
  border-bottom: 1px solid #b3e5e6;
}
div.notes .note.col7 {
  border: 1px solid #94b2d1;
  background-color: #fdfefe;
}
div.notes .note.col7 .title {
  background-color: #7099c2;
  border-bottom: 1px solid #b3cce6;
}
div.notes .note.col8 {
  border: 1px solid #9494d1;
  background-color: #fdfdfe;
}
div.notes .note.col8 .title {
  background-color: #7070c2;
  border-bottom: 1px solid #b3b3e6;
}
div.notes .note.col9 {
  border: 1px solid #b294d1;
  background-color: #fefdfe;
}
div.notes .note.col9 .title {
  background-color: #9970c2;
  border-bottom: 1px solid #ccb3e6;
}
div.notes .note.col10 {
  border: 1px solid #d194d1;
  background-color: #fefdfe;
}
div.notes .note.col10 .title {
  background-color: #c270c2;
  border-bottom: 1px solid #e6b3e5;
}
div.notes .note.col11 {
  border: 1px solid #d194b3;
  background-color: #fefdfe;
}
div.notes .note.col11 .title {
  background-color: #c27099;
  border-bottom: 1px solid #e6b3cc;
}
div.notes .note .category-label {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 2px;
  font-family: arial;
  font-size: 10px;
  position: absolute;
  top: 3px;
  right: 30px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.33);
  min-width: 10px;
  min-height: 10px;
}
div.notes .note a {
  text-decoration: none;
}
div.notes .note a:hover {
  text-decoration: underline;
}
div.notes .editing {
  position: absolute;
  left: 50% !important;
  top: 0 !important;
}
div.notes .button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  height: 22px;
  width: 22px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
div.notes .button img {
  width: 16px;
  margin-top: 4px;
}
div.notes .button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.note-panel {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #eef;
  height: 20px;
  width: 225px;
  z-index: 20;
  overflow: hidden;
}
.note-panel .filter {
  background-color: #fff;
  font-family: calibri;
  font-size: 12px;
  width: 120px;
  float: left;
  margin-right: 4px;
}
.note-panel .filter.filter-on {
  background-color: yellow;
}
.note-panel .magnifier {
  width: 16px;
  height: 16px;
  float: left;
}
.note-panel .magnifier.filter-on {
  background-color: yellow;
}
.note-panel .new-note,
.note-panel .save-notes,
.note-panel .linear,
.note-panel .overlapping {
  margin-right: 6px;
  float: right;
}
.note-panel .new-note img,
.note-panel .save-notes img,
.note-panel .linear img,
.note-panel .overlapping img {
  width: 16px;
  height: 16px;
}
.note-panel .new-note:hover,
.note-panel .save-notes:hover,
.note-panel .linear:hover,
.note-panel .overlapping:hover {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.note-panel .linear {
  display: block;
}
.note-panel .overlapping {
  display: none;
}
.note-panel .save-notes img {
  display: inline;
}
.note-panel .save-notes .loader {
  display: none;
}
.note-panel .save-notes.loading img {
  display: none;
}
.note-panel .save-notes.loading .loader {
  display: inline;
  background-color: white;
}
.tree-panel {
  font-family: Lucida Sans Unicode;
  font-size: 12px;
  color: #404038;
  padding: 6px;
  position: absolute;
  top: 0px;
  left: -18px;
  min-width: 120px;
}
.tree-panel .internal {
  overflow: auto;
}
.tree-panel:hover {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.5);
}
.tree-panel .jstree-default .jstree-clicked {
  background: none;
  box-shadow: none;
}
.tree-panel .jstree-default .jstree-icon:empty {
  height: 14px;
  line-height: 14px;
  max-height: 14px;
}
.tree-panel .jstree-default .jstree-anchor {
  height: 14px;
  line-height: 14px;
}
.tree-panel .jstree-default .jstree-checkbox {
  background-position-y: -9px;
}
.tree-panel .jstree-default .jstree-checkbox:hover {
  background-position-y: -41px;
}
.tree-panel .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
.tree-panel .jstree-default .jstree-checked > .jstree-checkbox {
  background-position-y: -9px;
}
.tree-panel .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
.tree-panel .jstree-default .jstree-checked > .jstree-checkbox:hover {
  background-position-y: -41px;
}
.tree-panel .jstree-default .jstree-themeicon {
  background-position-y: -9px;
}
.tree-panel .jstree-default .jstree-anchor > .jstree-undetermined {
  background-position-y: -9px;
}
.tree-panel .jstree-default .jstree-anchor > .jstree-undetermined:hover {
  background-position-y: -41px;
}
.tree-panel .jstree-default .jstree-node {
  margin-left: 14px;
  min-width: 0;
}
.tree-panel .jstree-default .jstree-default .jstree-themeicon {
  display: none;
}
body.editor-opened .tree-panel {
  display: none;
}
.context-menu-list {
  font-size: 11px;
}
.checkbox {
  background-image: url(js/jstree/32px-light.png);
  background-position-x: -169px;
  background-position-y: -9px;
  cursor: pointer	;
  display: inline-block;
  line-height: 14px;
  margin: 0;
  padding: 0;
  max-height: 14px;
  vertical-align: top;
  width: 14px;
  height: 14px;
}
.checkbox.checked {
  background-position-x: -233px;
}
.cat-ok .title .checkbox {
  background-position-x: -233px;
}
