
* {
}

body {
	background-color:#ffffff;
	font-family:verdana;
	color:black;
}

table {
	width:100%
}

td { 
	font-size:14px;
	padding: 0px 8px 0px 0px;
	vertical-align:top;
	/*border-bottom:1px solid #b0b0b0;*/
	line-height:21px;
}

td.left {
    font-weight: bold;
    text-align: right;
    width: 90px;
}


a {
    color: #000060;
    margin-left: 3px;
    text-decoration: none;
    border:none;
}

a img {
    border:none;
}


a:hover {
	color:#0000c0;
	font-weight:bold;
	/*background-color:#000000;*/
    text-decoration: underlined;
}

.message {
	background-color:#ffffff;
	border:1px solid gray;
	padding:4px;
}

.invisibile {
	display:none;	
}

.manuale {
	font-family:calibri;
	color: #006000;
	float:left;
	width:400px;
}

.ora {
  color: #f8f8f8;
  font-size: 30px;
  padding: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.ora:hover {
  background-color: #800;
}
 
 